@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

*{
     margin: 0;
     padding: 0;
}
    
body{
    background-color:#CCD67F;
    font-family: "Great Vibes", cursive;
}
.cabecalho{
    background-color: #5B7E3C;
    display: flex;
    justify-content: space-between;
    padding: 15px 25px;
    align-items: center;
}

.cartao{
    width: 260px;
    height: 200px;  
}
.cartao img{
    width: 100%;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}
.cartao-interno{
    position: relative;
}